@import "tailwindcss";

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
	--font-sans:
		Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--color-taracota: oklch(56.83% 0.1461 33.93);
	--color-eucalytus: oklch(50.3% 0.0589 135.79);
	--color-neutral: oklch(96.27% 0.0228 95.96);
	--color-brown: oklch(53.97% 0.102 60.53);
}
